[alias]
	st = status
	cm = commit -m
	co = checkout
	br = branch
	cfg = !git config --file C:\\\\gitl\\\\gitsettings\\\\mygit.config
	dv = difftool -t vimdiff -y
	gl = cfg -l
	ac = commit -am
	se = !git rev-list --all | xargs git grep -F
	npp = "!start notepad++ "
	ff = "flow feature"
	nbr = git co -b

[gitflow "branch"]
	master = main
	develop = develop
[gitflow "prefix"]
	feature = feature/
	bugfix = bugfix/
	release = release/
	hotfix = hotfix/
	support = support/
	versiontag = 
[gitflow "path"]
	hooks = .git/hooks
[help]
	autocorrect = 20
