[alias]
	st = status
	cm = commit -m
	co = checkout
	br = branch
	myconfig = !git config --file C:\\\\gitl\\\\gitsettings\\\\mygit.config
	dv = difftool -t vimdiff -y
	
[user]
	email = what.d.dev@gmail.com
	name = dev patel

[gitflow "branch"]
	master = main
	develop = develop
[gitflow "prefix"]
	feature = feature/
	bugfix = bugfix/
	release = release/
	hotfix = hotfix/
	support = support/
	versiontag = 
[gitflow "path"]
	hooks = C:/gitl/gitsettings/.git/hooks
